<!DOCTYPE html>
<html>
	<head>
		<title>Tweets Images</title>
		<meta charset="UTF-8">
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		 <!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script type="text/javascript" src="js/show-tweets-img.js"></script> 
		
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"/>

	</head>
	<body>

	<nav>
	<div class="nav-wrapper" id="top">
	  <a href="#" class="brand-logo center">Tweets Images(netprint)</a>
	</div>
	</nav>

	<div class="container">

	  <div class="row">
	    <div class="input-field col s6">
	      <select id="select-date">
		<option value="" disabled selected>日付を選択</option>
	      </select>
	      <label>日付</label>
	    </div>
	    <div id="img-count" class="col s3" style="text-align:center;margin-top:20px;"></div>
	  </div>

	  <div class="row" id="loading" style="display:none;"><div class="col s6 offset-s6">
	  <!-- preloader start -->
	  <div class="preloader-wrapper big active">
	    <div class="spinner-layer spinner-blue">
	      <div class="circle-clipper left">
		<div class="circle"></div>
	      </div><div class="gap-patch">
		<div class="circle"></div>
	      </div><div class="circle-clipper right">
		<div class="circle"></div>
	      </div>
	    </div>

	    <div class="spinner-layer spinner-red">
	      <div class="circle-clipper left">
		<div class="circle"></div>
	      </div><div class="gap-patch">
		<div class="circle"></div>
	      </div><div class="circle-clipper right">
		<div class="circle"></div>
	      </div>
	    </div>

	    <div class="spinner-layer spinner-yellow">
	      <div class="circle-clipper left">
		<div class="circle"></div>
	      </div><div class="gap-patch">
		<div class="circle"></div>
	      </div><div class="circle-clipper right">
		<div class="circle"></div>
	      </div>
	    </div>

	    <div class="spinner-layer spinner-green">
	      <div class="circle-clipper left">
		<div class="circle"></div>
	      </div><div class="gap-patch">
		<div class="circle"></div>
	      </div><div class="circle-clipper right">
		<div class="circle"></div>
	      </div>
	    </div>
	  </div>
	  <!-- preloader end -->
	  </div></div>

	  <div class="row" id="imglist"></div>

	</div>
	<footer class="page-footer">
	<div class="footer-copyright">
		<div class="container">
		© 2016 Copyright 
		<a class="grey-text text-lighten-4" href="https://twitter.com/furuhito0519" target="_blank">@furuhito0519</a>
		</div>
	</div>
	</footer>
	</body>
</html>

